<div class="border-bottom row align-items-end" style="margin-bottom: 16px; padding: 8px">
  <div class="col-10">
    <h3 style="color: #007bff; margin-bottom: 4px;">{{job.title}}</h3>
    <div><b>Location: </b>{{job.location}}</div>
      {% if 'salary' not in job %}
        <div><b>Salary:</b> – </div>
      {% else %}
        <div><b>Salary:</b> {{job.salary}}</div>
      {% endif %}
  </div>
  <div class="col-2">
    <a href="mailto:gferri.dev@gmail.com?subject=Application%20for%20{{job.title}}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20resume%20link%3A%20%3Cresume%20link%3E%0D%0AMy%20LinkedIn%20link%3A%20%3CLinkedIn%20link%3E%0D%0AMy%20questions%20(optional)%3A%20%3Center%20question%20here%3E" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>